body {
    --siteFont: 'Open Sans', sans-serif;
    --headingFont: 'Orbitron', sans-serif;
    margin-top: -17px;
}

.app-nav {
    margin-top: 17px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}

.search .input-wrap {
    margin-top: 10px!important;
}

.sidebar-toggle {
    top: 120px;
    bottom: unset;
}

@media screen and (max-width: 770px) {
    .search .input-wrap {
        margin-top: 53px!important;
    }
}

@media screen and (max-width: 768px) {
    #docsify-darklight-theme {
        left: unset;
    }
    .search .input-wrap {
        margin-top: 10px!important;
    }
    .sidebar-toggle {
        top: 60px;
    }
    body {
        margin-top: 20px;
    }
    .app-nav {
      margin-top: -20px !important;
    }
}

@media screen and (max-width: 610px) {
    .sidebar-toggle {
        top: 85px;
    }
    body {
        margin-top: 45px;
    }
    .app-nav {
      margin-top: -45px !important;
    }
}

@media screen and (max-width: 482px) {
    .sidebar-toggle {
        top: unset;
        bottom: 0;
    }
}

@media screen and (max-width: 395px) {
    body {
        margin-top: 70px;
    }
    .app-nav {
      margin-top: -70px !important;
    }
}
